# Flask
# mysql-connector-python
# pandas
# plotly
# webdriver-manager
# selenium
# gunicorn
# beautifulsoup4
# requests



# Flask
# mysql-connector-python
# pandas
# plotly
# webdriver-manager
# selenium
# gunicorn
# beautifulsoup4
# requests
# python-dotenv

# # Firefox + Geckodriver dependencies
# pytest



flask
mysql-connector-python
selenium
webdriver-manager
pandas
plotly
gunicorn
gevent
python-dotenv
